.Price {
  padding: 16px;
  border: 1px solid var(--white-color);
  color: var(--text-color);
  border-radius: 2px;
}

.BuildControls {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
  color: var(--text-color);
}


.OrderButton {
  border-radius: 30px;
  margin: 20px 0;
  background-color: var(--primary-color);
  outline: none;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
}

.OrderButton:hover, .OrderButton:active {
  background-color: var(--primary-color);
  border: 1px solid #966909;
  color: #966909;
}

.OrderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}