.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

button {
  border: 2px solid #cde;
  color: #cde;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: green;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: lightgreen;
}