:root {
  --ingredient-inset-shadow: inset -15px -15px 10px -5px;
}

.breadTop {
  background-color: #eca03d;
  height: 35px;
  border-radius: 30px  30px 0 0;
  margin: 1px 15px;
  box-shadow: var(--ingredient-inset-shadow) #975f15;
  width: 95%;
}

.breadBottom {
  background-color: #eca03d;
  height: 25px;
  border-radius: 0 0 15px  15px;
  margin: 1px 15px;
  box-shadow: var(--ingredient-inset-shadow) #975f15;
  width: 95%;
}

.meat {
  background-color: #8c1919;
  height: 30px;
  border-radius: 20px;
  margin: 1px 5px;
  box-shadow: var(--ingredient-inset-shadow) #4b0a0a;
  width: 100%;
}

.onion {
  background-color: #d6e6e6;
  height: 7px;
  border-radius: 2px;
  margin: 1px 25px;
  box-shadow: var(--ingredient-inset-shadow) #607474;
  width: 95%;
}

.tomato {
  background-color: #f44336;
  height: 15px;
  border-radius: 5px;
  margin: 1px 15px;
  box-shadow: var(--ingredient-inset-shadow) #9b1f16;
  width: 95%;
}

.lettuce {
  background-color: #8bc34a;
  height: 5px;
  border-radius: 5px;
  margin: 1px;
  box-shadow: var(--ingredient-inset-shadow) #4d9100;
  width: 100%;
}

.cheese {
  background-color: #ffe605;
  height: 8px;
  margin: 1px;
  box-shadow: var(--ingredient-inset-shadow) #aa9a0c;
  width: 100%;
}

.bacon {
  background-color: #741811;
  height: 4px;
  border-radius: 5px;
  margin: 1px 10px;
  box-shadow: var(--ingredient-inset-shadow) #611f1a;
  width: 95%;
}

