.breadTop {
  background-color: #eca03d;
  height: 35px;
  border-radius: 30px  30px 0 0;
  margin: 2px;
}

.breadBottom {
  background-color: #eca03d;
  height: 25px;
  border-radius: 0 0 15px  15px;
  margin: 2px;
}

.meat {
  background-color: #8c1919;
  height: 30px;
  border-radius: 25px;
  margin: 2px;
}

.onion {
  background-color: #d6e6e6;
  height: 7px;
  border-radius: 5px;
  margin: 2px;
}

.tomato {
  background-color: #f44336;
  height: 15px;
  border-radius: 5px;
  margin: 2px;
}

.lettuce {
  background-color: #8bc34a;
  height: 5px;
  border-radius: 5px;
  margin: 2px;
}

.cheese {
  background-color: #ecd928;
  height: 8px;
  border-radius: 5px;
  margin: 2px;
}

.bacon {
  background-color: #741811;
  height: 3px;
  border-radius: 5px;
  margin: 2px;
}


