
.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  border: 2px solid #cde;
  color: #cde;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: green;
  cursor: pointer;
}

.Button:hover {
  color: black;
  background-color: lightgreen;
}

.toggleButton {
  background-color: red;
}

.toggleButton:hover {
  background-color: salmon;
}