:root {
  --primary-color: #f2a365;
  --bg-color: #222831;
  --secondary-color: #30475e;
  --light-color: #00a8cc;
  --text-color: #efefef;
  --white-color: #efefef;
  --dark-text-color: #57380b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  background-color: var(--white-color);
}